/* body{
    background-color: darkgoldenrod;
}
#as{
    color: rgb(208, 17, 17);
    font-size: 30px;
    background-color: antiquewhite;
}
.qw{
    color: rgb(218, 230, 58);
    font-size: 20px;
    background-color: cadetblue;
    }
h5{
    background-color: darkolivegreen;
    font-size: 20px;
}    
h6{
    background-color: fuchsia;
    font-size: 20px;
}
h1,h3,p{
    background-color: gray;
    font-size: 20px;
}
#yu{
    background-color: aquamarine;

}
#ty{
    background-color: lightpink;
} */
#we{
    color: blue;
    background-color: forestgreen;
}
.sw{
    color: brown;   
}
h3,h4{
    color: cadetblue;
    background-color: aqua;
}
*{
    color: darkgoldenrod;
background-color: dimgrey;
}
h3{
    background-color: crimson;
}
h4{
    background-color: darkorange;
}
